/* 
    Document   : sticky-footer-navbar
    Created on : 16 Apr 14, 11:49:19
    Author     : Dany M Pradana
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/
html, body {
    height: 100%;
    margin-bottom: 0;
    padding-bottom: 0;
}
#wrap {
    height: auto !important;
    margin: 0 auto -60px;
    min-height: 100%;
}
#push{
    height: 60px;
}
#footer {
    background-color: #eaebfa;
}
@media (max-width: 767px){
#footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
}
}
#wrap > .container {
    padding-top: 60px;
}
.container .credit {
    margin: 20px 0;
}
code {
    font-size: 80%;
}

